# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

#### Saving to a Variable

#### Multiple Inputs

#### Passing a Lambda into a Function

#### Returning a Lambda from a Function

#### If Statements within Lambdas

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [4]:
def even_or_odd(nums):
    output = []
    for num in nums:
        output.append('even')
    else:
        output.append('odd')
        return output
        
even_or_odd(range_ten)

['even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'odd']

In [3]:
range_ten = [num for num in range(1, 11)]

range_ten

list(map(lambda num: 'even' if num %2 == 0 else 'odd', range_ten))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

#### Using Lambda's with Map

In [6]:
#see above - another example below

[word for word in map(lambda word: word.titel(), ['Brandt', 'Manuel', 'Johny','Zakaraia'])]

AttributeError: 'str' object has no attribute 'titel'

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [15]:
updated_nums = []

for num in range(1, 11):
    updated_nums.append(num*2-1)
    
updated_nums

version_2 = [ num * 2 - 1 for num in range(1,11)]
print(version_2)==updated_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

False

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [20]:
print(range_ten)

list(filter(lambda num : num % 2 == 0, range_ten))#it is creatinnew filter object

print(range_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
'-'.join(filter(lambda letter: letter.lower() not in 'aeiou', 'abcdefghjijklmnopqrs')) #.join put them in a list horizontally not vertically add - or space for the list

'b-c-d-f-g-h-j-j-k-l-m-n-p-q-r-s'

In [29]:
'-'.join(filter(lambda letter: 100, 'abcdefghjijklmnopqrs'))

'a-b-c-d-e-f-g-h-j-i-j-k-l-m-n-o-p-q-r-s'

In [31]:
def notVowell(letter):
    retrn letter.lower() not in 'aeiou'
    
''.join([letter for letter in filter(notVowell, 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')])

SyntaxError: invalid syntax (2395488799.py, line 2)

#### Using Lambda's with Filter()

In [ ]:
' - '

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [81]:
from statistics import mean
list = [2,3,4,5,6,7,8,44,66,77,88]
list(filter())
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Calculate the mean of the list
mean_value = statistics.mean(numbers)

# Filter out numbers below the mean
filtered_numbers = [num for num in numbers if num >= mean_value]

# Print the result
print(filtered_numbers)

TypeError: filter expected 2 arguments, got 0

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [35]:
from functools import reduce

sum([1,2,3])

reduce(lambda agg, num: agg + num, range(5))


agg = 0
for num in range(5):
    agg += num
    
agg

10

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [38]:
def recursiveAdder (num):
    if num==1: #condition
        print("recursiveAdder(1)==1")
        return 1
    print(f'recursiveAdder({num}) == {num} + recursiveAdder({num} - 1)')
    
    return num + recursiveAdder(num -1)

recursiveAdder(5)

recursiveAdder(5) == 5 + recursiveAdder(5 - 1)
recursiveAdder(4) == 4 + recursiveAdder(4 - 1)
recursiveAdder(3) == 3 + recursiveAdder(3 - 1)
recursiveAdder(2) == 2 + recursiveAdder(2 - 1)
recursiveAdder(1)==1

15

In [39]:
def whileAdder(num):
    output = 0
    while num >=1 :
        output += num
        num -= 1
    return output
whileAdder(5)

15

#### Writing a Factorial Function

In [50]:
def find_factorial(num):
    if num == 1:
        print(f'find_factorial(1)==1')
        return 1
    print(f'find_factorial({num})== {num} * find_factorial({num - 1})')
    return num * find_factorial(num - 1)

find_factorial(5)

find_factorial(5)== 5 * find_factorial(4)
find_factorial(4)== 4 * find_factorial(3)
find_factorial(3)== 3 * find_factorial(2)
find_factorial(2)== 2 * find_factorial(1)
find_factorial(1)==1

120

In [ ]:
def factorial_while(num)
    output = 1
    whle num >= 1:
        output* = num
        num-= 1
        return output
    
factorial_while(5)== find_factorial(5)

# In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [53]:
def recursiveAdder (num):
    if num==1: #condition
        print("recursiveAdder(1)==1")
        return 1
    print(f'recursiveAdder({num}) == {num} - recursiveAdder({num} - 1)')
    
    return num + recursiveAdder(num -1)

recursiveAdder(5)

recursiveAdder(5) == 5 - recursiveAdder(5 - 1)
recursiveAdder(4) == 4 - recursiveAdder(4 - 1)
recursiveAdder(3) == 3 - recursiveAdder(3 - 1)
recursiveAdder(2) == 2 - recursiveAdder(2 - 1)
recursiveAdder(1)==1

3

In [58]:
def recursiveSub (num):
    if num==1: #condition
        print("recursiveSub(1)==1")
        return 1
    print(f'recursiveSub({num}) == {num} - recursiveSub({num - 1})')
    
    return num - recursiveSub(num -1) #b aware this is where you can add or subtract (-) from [return num -]

recursiveSub(5)
#5-rS(4)

recursiveSub(5) == 5 - recursiveSub(4)
recursiveSub(4) == 4 - recursiveSub(3)
recursiveSub(3) == 3 - recursiveSub(2)
recursiveSub(2) == 2 - recursiveSub(1)
recursiveSub(1)==1

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [66]:
def my_range(strart, stop, step = 1):
    while start < stop:
        yield start
        start += step
        
list(my_range(0,10)) # add list

for num in my_range (0,10):
    print(num)
    
my_gen = my_range(0,10)

next(my_gen)
next(my_gen)

print('\n')
for num my_gen:
    print(num)
    
next(my_gen)

SyntaxError: invalid syntax (4035657989.py, line 17)

In [ ]:
def pdawans(): #for lists
    yield 'jhonny'
    yield 'mike'
    yield 'jorge'
    
list+p= list(padawans())
    print(student)
    
my_gen = padawans()

for studnet in list_p:
    print()

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [79]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

','.join(filter(lambda places: places.strip() != "", places))

'Argentina,San Diego,Boston,New York'

In [80]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

list(filter(lambda places: places.strip() != "", places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [83]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key=lambda name: name.title().split()[-1])

print (author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [2]:
# F = (9/5)*C + 32
places = [('Nashua', 32), ("Boston", 12), ("Los Angeles", 44), ("Miami", 29)]

converted_places = list(map(lambda place: (place[0], (9/5)*place[1] + 32), places))

print(converted_places)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [4]:
#perform the fib up to the number passed in (5)

#dividing one number in the series by the number that follows it.


def fib(n, current_iteration=0, prev=0, current=1):
    if current_iteration == n:
        return current
    
    print(f"Iteration {current_iteration}: {current}")
    
    return fib(n, current_iteration + 1, current, prev + current)

result = fib(5)
print(f"Iteration {5}: {result}")

Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8